@import "variables.scss";

body {
    margin: 0;
    font-family: var(--font-family-main);
    background-color: var(--color-background);
}

.hide {
    display: none;
}

.main-box .hide {
    display: none;
}

.bordered-top {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #555;
}

.accent-color {
    color: var(--color-accent-main);
}

.main-box {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-settings);
    border-radius: var(--border-radius-second);
    box-shadow: var(--box-shadow-second);
    max-width: 450px;
    color: var(--color-text-main);
}

.main-box-header {
    width: 100%;
}

.main-box-title {
    padding: 15px 20px;
    font-size: 1.15rem;
    font-weight: bold;
    text-align: center;
}

.main-box-body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-box-body-row {
    display: flex;
    flex-direction: row;
    padding: 8px 20px;
    justify-content: space-between;
}

.main-box-body-row-item {
    height: 100%;
    width: 100%;
    margin: auto;
}

.main-box-body-row-item-action {
    display: flex;
    justify-content: right;
    flex-direction: column;
}

.main-box-body-buttons-list {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.main-box-body-buttons-list button {
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-accent-main);
    border: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
    min-width: 50px;
    padding: 0 10px;
}

.main-box-body-buttons-list button:hover {
    transform: translateY(-2px);
}

.container-default-parent {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-small {
    color: var(--color-text-main);
    width: 350px;
    padding: 20px;
    font-size: 1rem;
    border-radius: var(--border-radius-second);
}

.container-main {
    color: var(--color-text-main);
    max-width: 810px;
    padding: 20px;
    font-size: 1rem;
    border-radius: var(--border-radius-second);
}

.text-center {
    text-align: center;
}

.links-main {
    color: var(--color-accent-main);
    cursor: pointer;
}

.links-main a {
    color: var(--color-accent-main);
    text-decoration: none;
}

.links-main span {
    color: var(--color-accent-main);
    margin: 0 10px;
}

.column-direction {
    flex-direction: column;
}

.subtext {
    font-size: 0.95rem;
    color: var(--color-options-sidebar);
}

.dialog {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
}

.dialog-container {
    width: 350px;
}