$sidebar-width: 260px;
$sidebar-width-adjust: 260px;
$navbar-height: 47px;

body {
    --font-family-main: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --font-size-main: 1rem;
    --font-size-code: 1rem;
    
    --color-chat-user: #fff;
    --color-chat-bot: #f6f6f6;
    --color-settings: #fff;
    --color-settings-dialog: #fff;

    --color-background: #f6f6f6;
    --color-navbar: #f6f6f6;
    --color-options-main: #aaa;
    --color-options-second: #ccc;
    --color-hover-main: #eee;
    --color-text-main: #374151;
    --color-text-accent: #E4E6EB;
    --color-main: #fbfbfb;
    --color-second: #eee;
    --color-third: #999;
    --color-none: transparent;
    --color-accent-main: #2374E1;
    --color-accent-second: #333;
    --color-text-main-default: #374151;
    --color-options-main-default: #bbb;
    --color-main-default: #fff;
    --color-second-default: #eee;
    --color-settings-box: #fff;
    
    --color-alert: rgb(194, 108, 108);
    --color-alert-hover: rgb(194, 108, 108, 0.15);
    --color-sidebar: #2b2d31;
    --color-text-sidebar: #E4E6EB;
    --color-hover-sidebar: #3f4248;
    --color-settings-sidebar: #131518;
    --color-options-sidebar: #666;
    --color-sidebar-item: rgba(0,0,0,0);
    --color-input-placeholder: #333;
    --color-input-label: #777;
    --color-input-icon: #ccc;

    --box-shadow-main: 0 0 0 darkgray;
    --box-shadow-second: 0 0 2px darkgray;
    --box-shadow-third: 0 0 0 black;
    --box-shadow-sidebar-open: 0 0 0 gray;
    --box-shadow-sidebar-open-mobile: 0px 0 260px #333;

    --border-main: 1px solid #ccc;
    --border-accent: 1px solid #2374E1;
    --border-chat: 1px solid #dadada;
    --border-none: none;
    --border-radius-main: 20px;
    --border-radius-second: 5px;
    --border-radius-third: 50%;
}

.theme-dark {
    --color-background: #313338;
    --color-navbar: #313338;
    --color-options-main: #666;
    --color-options-second: #444;
    --color-hover-main: #3f4248;
    --color-text-main: #E4E6EB;
    --color-main: #2b2d31;
    --color-second: #3f4248;
    --color-third: #aaa;
    --color-accent-main: #2374E1;
    --color-accent-second: #ccc;
    --color-shadow-main: #454545;
    --color-sidebar: #2b2d31;
    --color-settings: #2b2d31;
    --color-settings-box: #2b2d31;
    --color-settings-dialog: #131518;

    --color-chat-user: #484a53;
    --color-chat-bot: #313338;

    --box-shadow-main: 0 0 0 #111;
    --box-shadow-second: 0 0 2px #111;
    --box-shadow-third: 0 0 0 #111;
    --box-shadow-sidebar-open: 0 0 0 #111;
    --box-shadow-sidebar-open-mobile: 0px 0 260px #111;

    --border-main: 1px solid #ccc;
    --border-chat: 1px solid rgba(0,0,0,0);
}

.native-platform {
    --font-size-code: 13px;
}