@import "../../variables.scss";

.sidebaritem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: var(----color-sidebar-item);
}

.sidebaritem:hover {
  cursor: pointer;
  background-color: var(--color-hover-sidebar);
}

.sidebaritem[data-is-selected="true"] {
  background-color: var(--color-hover-sidebar);
}

.sidebaritem-title {
  font-size: var(--font-size-main);
  color: var(--color-text-sidebar);
  max-width: 190px;
}

.sidebaritem-title input {
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  font-weight: 600;
  color: var(--color-text-sidebar);
  max-width: 170px;
}

.sidebaritem-buttons {
  display: flex;
  align-items: center;
}

.sidebaritem-button-edit,
.sidebaritem-button-trash {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-none);
  border: var(--border-none);
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.sidebaritem-button-edit i,
.sidebaritem-button-trash i {
  font-size: 16px;
}

.sidebaritem-button-edit {
  color: var(--color-options-sidebar);
}

.sidebaritem-button-trash {
  color: var(--color-options-sidebar);
}

.theme-dark .sidebaritem-title input {
  color: var(--color-text-main-default);
}