@import '../../variables.scss';

.chat-message {
  display: flex;
  flex-direction: column;
  position: relative;
}

.chatbot[data-sidebar-is-open="true"][data-is-mobile="false"] .chat-message-bubble {
  max-width: calc(100vw - $sidebar-width);
}

.chat-message-bubble {
  white-space: break-spaces;
  padding: 25px 0;
  padding-left: 24px;
  max-width: calc(100vw - 48px);
  transition: max-width 0.25s ease-in-out;
  width: 60%;
}

.chat-message-icons-container-disabled {
  cursor: auto;
  visibility: hidden;
}

.chat-message-icons-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px 10px;
  cursor: pointer;
}

.chat-message-options-icon {
  cursor: pointer;
  color: var(--color-options-main);
}

.chat-message-options-container {
  position: absolute;
  bottom: 0px;
  transform: translateX(-86px);
  background-color: var(--color-main);
  box-shadow: var(--box-shadow-second);
  z-index: 1;
  padding: 6px;
  border-radius: var(--border-radius-main);
  display: flex;
  justify-content: space-between;
}

.chat-message-options-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 5px;
  color: var(--color-third);
}

.chat-message-options-item i {
  font-size: 1rem;
}

.chat-message-timestamp {
  cursor: default;
  font-size: 12px;
  max-width: 28px;
}

.chat-message-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: var(--border-chat);
}

.chat-message-user .chat-message-container {
  background-color: var(--color-chat-user);
  color: var(--color-text-main);
}

.chat-message-bot .chat-message-container {
  background-color: var(--color-chat-bot);
  color: var(--color-text-main);
}

.chat-message-controls-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.chat-message-control {
  background-color: var(--color-none);
  border: var(--border-none);
  color: var(--color-text-main);
  cursor: pointer;
  outline: none;
  padding: 2px;
}

.chat-message-control-inactive {
  color:  var(--color-options-second);
  cursor: default;
}

.chat-message-dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
}

.chat-message-dot {
  width: 5px;
  margin: 0 2px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--color-options-second);
}

.chat-message-dot-active {
  background-color: var(--color-text-main);
}

.chat-message-controls-container .fa-chevron-left,
.chat-message-controls-container .fa-chevron-right {
  font-size: 0.8rem;
}

.chat-message-icons-container .fa {
  color: var(--color-options-main);
}

.theme-dark .chat-message-user .chat-message-bubble {
  color: var(--color-main-default)
}

@media (max-width: 810px) {
  .chat-message-bubble {
    width: 85%;
  }
}
