@import '../../variables.scss';

.chat-message {
  display: flex;
  flex-direction: column;
  position: relative;
}

.chat-message-reply {
  width: 60%;
  border-radius: 0 0 var(--border-radius-second) var(--border-radius-second);
  background-color: var(--color-reply);
  margin: auto;
  cursor: pointer;
  transform: translateY(-1px);
}

.chat-message-reply-text {
  padding: 0 5px;
  padding-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  opacity: 0.8;
}

.theme-dark .chat-message-reply-text:hover,
.chat-message-reply-text:hover {
  opacity: 1;
}

.reply-icon {
  opacity: 0.6;
  margin-right: 5px;
}

.theme-dark .chat-message-reply-text {
  opacity: 0.4;
}

.reply-text {
  text-overflow: var(--text-overflow);
  white-space: nowrap;
  overflow: hidden;
}

.chatbot[data-sidebar-is-open="true"][data-is-mobile="false"] .chat-message-bubble {
  max-width: calc(100vw - $sidebar-width);
}

.chat-message-bubble-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: end;
}

.chat-message-bubble {
  white-space: break-spaces;
  padding: 25px 0;
  padding-left: 24px;
  max-width: calc(100vw - 48px);
  transition: max-width 0.25s ease-in-out;
  width: 60%;
  position: relative;
}

.chat-message-icons-container-disabled {
  cursor: auto;
  visibility: hidden;
}

.chat-message-icons-container {
  padding: 15px 10px;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 10px;
}

.chat-message-options-icon {
  cursor: pointer;
  color: var(--color-options-main);
}

.chat-message-options-container {
  position: absolute;
  bottom: 0px;
  background-color: var(--color-main);
  box-shadow: var(--box-shadow-second);
  z-index: 1;
  padding: 6px;
  border-radius: var(--border-radius-main);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.chat-message-options-items {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.chat-message-options-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 5px;
  color: var(--color-options-main);
  padding-top: 6px;
}

.chat-message-options-item i {
  font-size: 1rem;
}

.chat-message-timestamp {
  cursor: default;
  font-size: 12px;
  width: 100%;
  text-align: center;
  color: var(--color-options-main);
  padding-top: 6px;
}

.chat-message-container {
  width: 100%;
  display: flex;
  border-top: var(--border-chat);
  flex-direction: column;
}

.chat-message-user .chat-message-container {
  background-color: var(--color-chat-user);
  color: var(--color-text-main);
}

.chat-message-bot .chat-message-container {
  background-color: var(--color-chat-bot);
  color: var(--color-text-main);
}

.chat-message-controls-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.chat-message-control {
  background-color: var(--color-none);
  border: var(--border-none);
  color: var(--color-text-main);
  cursor: pointer;
  outline: none;
  padding: 2px;
}

.chat-message-control-inactive {
  cursor: default;
}

.chat-message-dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
}

.chat-message-dot {
  width: 5px;
  margin: 0 2px;
  height: 5px;
  border-radius: 50%;
}

.chat-message-dot-active {
  background-color: var(--color-text-main);
}

.chat-message-controls-container .fa-chevron-left,
.chat-message-controls-container .fa-chevron-right {
  font-size: 0.8rem;
}

.theme-dark .chat-message-user .chat-message-bubble {
  color: var(--color-main-default)
}

@media (max-width: 810px) {
  .chat-message-bubble {
    width: 85%;
  }

  .chat-message-reply {
    width: 85%;
  }
}