.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-error,
.login-input-error {
    background-color: var(--color-sidebar);
    padding: 12px;
    border-radius: var(--border-radius-second);
    color: var(--color-text-sidebar);
    font-size: 12px;
}

.login-input-error {
    position: absolute;
    top: 80%;
    right: 10px;
    z-index: 1;
}

.login-button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login-button-text {
    color: var(--color-text-main);
    margin: 0 20%;
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 500;
}

.login-button {
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-accent-main);
    border: none;
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
    margin-top: 10px;
}

.login-button:hover {
    transform: translateY(-2px);
}

.login-loading {
    margin: 20px;
    text-align: center;
    color: var(--color-text-main);
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 350px;
    padding: 20px;
    border-radius: var(--border-radius-second);
    font-size: 1rem;
    color: var(--color-text-main);
}

.login-title {
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
}

.login-label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.2s ease all;
    color: var(--color-input-label);
}

.login-input {
    padding: 15px 10px;
    border: none;
    border-radius: var(--border-radius-second);
    border: var(--border-main);
    transition: 0.2s ease all;
    width: 330px;
    font-size: 1rem;
}

.login-input:focus,
.form-group.active input {
    outline: none;
    border: 1px solid var(--color-accent-main);
}

.login-input:focus+label,
.form-group.active label {
    top: 0;
    transform: translateY(-40%);
    font-size: 1rem;
    color: var(--color-accent-main);
    background-color: white;
    border-radius: var(--border-radius-second);
    padding: 0 5px;
}

.login-button-main,
.login-button-second {
    font-size: 1rem;
    border: none;
    border-radius: var(--border-radius-second);
    cursor: pointer;
}

.login-button-main {
    color: var(--color-text-accent);
    padding: 16px;
    background-color: var(--color-accent-main);
}

.login-button-second {
    color: var(--color-text-main);
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-accent-main)
}

.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: var(--color-input-icon);
    cursor: pointer;
}

.password-toggle i {
    font-size: 14px;
}

.password-toggle:hover i {
    color: var(--color-accent-main);
}

.login-form {
    transform: translateY(-12px);
}
