.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.login-error {
    color: var(--color-text-main);
    margin-bottom: 10px;
}

.login-button-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.login-button-text {
    color: var(--color-text-main);
    margin: 0 200px;
    font-size: 1.25rem;
    text-align: center;
}

.login-button {
    background-color: rgba(0,0,0,0);
    color: var(--color-accent-main);
    border: none;
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
    margin: 20px 0;
    transition: transform 0.25s ease-in-out;
}

.login-button:hover {
    transform: translateY(-2px);
}

.login-loading {
    margin: 20px;
    text-align: center;
    color: var(--color-text-main);
}