
.user-settings-account,
.user-settings-clear {
    width: 100%;
}

.user-settings-account-button,
.user-settings-clear-button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border-radius: var(--border-radius-second);
}

.user-settings-account-button {
    color: var(--color-text-main);
}

.user-settings-account-button:hover {
    background-color: var(--color-hover-main);
}

.user-settings-clear-button {
    color: var(--color-alert);
}

.user-settings-clear-button:hover {
    background-color: var(--color-alert-hover)
}

.user-settings-theme {
    display: flex;
    align-items: center;
    width: 100%;
}

.user-settings-theme-select {
    padding: 8px;
    border-radius: var(--border-radius-second);
    border: none;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    width: 75px;
    background-color: var(--color-settings);
    color: var(--color-text-main);
}

.user-settings-theme-select:hover {
    background-color: var(--color-hover-main);
}

.user-settings-theme-select option {
    font-size: 14px;
    border: none;
}

.user-settings-theme-select::-ms-expand {
    display: none;
}

.user-settings-item {
    width: 175px;
    margin: 8px;
}

.input-container {
    position: relative;
}
