@import "../../variables.scss";

.sidebaritem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: $color-background;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1px;
}

.sidebaritem:hover {
    cursor: pointer;
    background-color: $color-second;
}

.sidebaritem[data-is-selected="true"] {
  background-color: $color-second;
}

.sidebaritem-title {
  font-size: 1rem;
  font-weight: 600;
  color: $color-text-main;
  max-width: 190px;
}

.sidebaritem-title input {
  font-family: $font-family-main;
  font-size: 1rem;
  font-weight: 600;
  color: $color-text-main;
  max-width: 170px;
}

.sidebaritem-buttons {
  display: flex;
  align-items: center;
}

.sidebaritem-button-edit,
.sidebaritem-button-trash {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.sidebaritem-button-edit i,
.sidebaritem-button-trash i {
  font-size: 16px;
}

.sidebaritem-button-edit {
  color: $color-button-options;
}

.sidebaritem-button-trash {
  color: $color-button-options;
}





.theme-dark .sidebaritem {
  background-color: $color-background-dark;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.theme-dark .sidebaritem:hover {
    background-color: $color-second-dark;
}

.theme-dark .sidebaritem[data-is-selected="true"] {
  background-color: $color-second-dark;
}

.theme-dark .sidebaritem-title {
  color: $color-text-main-dark;
}

// .theme-dark .sidebaritem-title input {
//   color: $color-text-main-dark;
// }

.theme-dark .sidebaritem-button-edit {
  color: $color-button-options-dark;
}

.theme-dark .sidebaritem-button-trash {
  color: $color-button-options-dark;
}