@import "../../variables.scss";

.sidebaritem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: $background-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1px;
}

.sidebaritem:hover {
    cursor: pointer;
    background-color: #f6f6f6;
}

.sidebaritem[data-is-selected="true"] {
  background-color: #f6f6f6;
}

.sidebaritem-title {
  font-size: 1rem;
  font-weight: 600;
  color: $text-color-main;
  max-width: 190px;
}

.sidebaritem-title input {
  font-family: $font-family-main;
  font-size: 1rem;
  font-weight: 600;
  color: $text-color-main;
  max-width: 170px;
}

.sidebaritem-buttons {
  display: flex;
  align-items: center;
}

.sidebaritem-button-edit,
.sidebaritem-button-trash {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.sidebaritem-button-edit i,
.sidebaritem-button-trash i {
  font-size: 16px;
}

.sidebaritem-button-edit {
  color: $options-button-color;
}

.sidebaritem-button-trash {
  color: $options-button-color;
}
