@import '../../variables.scss';

.chatbot {
  position: fixed;
  left: 0;
  transition: left 0.25s ease-in-out;
  width: 100%;
}

.chatbot[data-sidebar-is-open="true"] {
  left: $sidebar-width;
}

.chatbot-main-body {
  position: fixed;
  width: 100vw;
  transition: width 0.25s ease-in-out;
}

.chatbot[data-sidebar-is-open="true"][data-is-mobile="false"] .chatbot-main-body {
  width: calc(100vw - $sidebar-width);
}

.chatbot-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chatbot-header {
  background-color: var(--color-accent-second);
  color: var(--color-main);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  box-shadow: var(--box-shadow-third);
  z-index: 1;
}

.chatbot-title {
  font-size: 28px;
  font-weight: bold;
}

.chatbot-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  margin-top: $navbar-height;
}

.chatbot-messages {
  display: flex;
  flex-direction: column;
}

.chat-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.chat-message-user {
  align-self: center;
}

.chat-message-bot {
  align-self: center;
}

.chat-message-text {
  border-radius: var(--border-radius-main);
  font-size: var(--font-size-main);
  word-wrap: break-word;
}

.chat-message-text>* {
  margin: 0;
}

.chat-message-text p {
  margin: 0;
}

.chat-message-text li {
  margin-bottom: 15px;
}

.chat-message-text p code {
  font-weight: bold;
}

.chat-message-text pre {
  border-radius: 8px;
}

.chat-message-text .markdown-list {
  white-space: normal;
}

.chat-message-text code,
.chat-message-text pre {
  font-size: var(--font-size-code);
}

.chatbot-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-bottom: 25px;
  z-index: 2;
  left: 0;
  transition: width 0.25s ease-in-out, left 0.25s ease-in-out;
}

.chatbot-container::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--chat-gradiant);
  height: var(--char-gradiant-height);
  pointer-events: none;
  z-index: 1;
}

.chatbot[data-sidebar-is-open="true"][data-is-mobile="false"] .chatbot-footer {
  width: calc(100vw - $sidebar-width);
  left: $sidebar-width;
}

.chatbot[data-sidebar-is-open="true"][data-is-mobile="true"] .chatbot-footer {
  left: $sidebar-width;
}

.chatbot-dots {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 5px;
  bottom: 0;
  min-height: 60px;
  background-color: var(--color-chat-bot);
  border-top: var(--border-chat);
}