@import "../../variables.scss";

.text-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-input textarea {
  width: 100%;
  max-width: 700px;
  resize: vertical;
  padding: 5px;
  font-size: 1rem;
  border-radius: var(--border-radius-second);
  border: var(--border-main);
  margin-right: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-height: 140px;
  box-shadow: var(--box-shadow-second);
  color: var(--color-text-main);
}

.text-input button {
  background-color: var(--color-accent-second);
  color: var(--color-main);
  border: var(--border-none);
  border-radius: var(--border-radius-main);
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: var(--box-shadow-third);
}

.text-input button.chatbot-settings-button {
  margin-left: 5px;
}

.text-input button.chatbot-send-button {
  display: none;
}

.text-input button i {
  font-size: 1.2rem;
}

.text-input .chatbot-dots {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}
