@import "../../variables.scss";


.text-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
  position: relative;
}

@media (max-width:810px) {
  .text-input {
    width: 90%;
  }
}

.text-input button {
  background-color: transparent;
  color: var(--color-options-main-default);
  border: var(--border-none);
  padding: 10px 10px;
  font-size: 1.25rem;
  cursor: pointer;
  position: absolute;
  bottom: 1px;
}

.text-input button:hover {
  color: var(--color-accent-main);
}

.text-input-textarea {
  width: 100%;
  resize: vertical;
  padding: 5px;
  font-size: var(--font-size-main);
  border-radius: var(--border-radius-second);
  border: var(--border-main);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-height: 140px;
  box-shadow: var(--box-shadow-second);
  padding-right: 58px;
  color: var(--color-text-main);
}

.chatbot-send-icon {
  position: relative;
  left: -1px;
}

.text-input .fas {
  padding-top: 2px;
}

.chatbot-settings-button {
  color: var(--color-text-main-default);
  right: 1px;
}

.chatbot-send-button {
  transition: right 0.25s ease-in-out, opacity 0.25s ease-in-out;
  right: 25px;
  color: var(--color-text-main-default);
  opacity: 1;
}

.chatbot-send-button.fade:hover {
  cursor: default;
}

.chatbot-send-button.fade {
  right: 10px;
  opacity: 0;
}
