@import "../../variables.scss";


.text-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 70%;
  position: relative;
}

@media (max-width:810px) {
  .text-input {
    width: 90%;
  }
}

.text-input-reply {
  width: 100%;
  border-radius: var(--border-radius-second) var(--border-radius-second) 0 0;
  background-color: var(--color-reply);
  transform: translateY(2px);
  cursor: pointer;
}

.text-input-reply-text {
  padding: 0 5px;
  padding-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.theme-dark .reply-to-text:hover,
.reply-to-text:hover {
  opacity: 1;
}

.theme-dark .reply-to-text,
.theme-dark .reply-to-close {
  opacity: 0.4;
}

.reply-to-text {
  opacity: 0.8;
  text-overflow: var(--text-overflow);
  white-space: nowrap;
  overflow: hidden;
}

.reply-to-close {
  opacity: 0.65;
  font-weight: bold;
  margin-left: 5px;
  padding: 3px;
  cursor: pointer;
}

.reply-to-close:hover {
  opacity: 1;
}

.text-input button {
  background-color: transparent;
  color: var(--color-options-main-default);
  border: var(--border-none);
  padding: 10px 10px;
  font-size: 1.25rem;
  cursor: pointer;
  position: absolute;
  bottom: 1px;
}

.text-input button:hover {
  color: var(--color-accent-main);
}

.text-input-textarea {
  width: 100%;
  resize: vertical;
  padding: 5px;
  font-size: var(--font-size-main);
  border-radius: var(--border-radius-second);
  border: var(--border-main);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-height: 140px;
  box-shadow: var(--box-shadow-second);
  padding-right: 0px;
  color: var(--color-text-main-default);
  z-index: 1;
}

.chatbot-send-icon {
  position: relative;
  left: -1px;
}

.text-input .fas {
  padding-top: 2px;
}

.chatbot-settings-button {
  color: var(--color-text-main-default);
  right: 1px;
}

.chatbot-send-button {
  transition: right 0.25s ease-in-out, opacity 0.25s ease-in-out;
  right: 25px;
  color: var(--color-text-main-default);
  opacity: 1;
}

.chatbot-send-button.fade:hover {
  cursor: default;
}

.chatbot-send-button.fade {
  right: 10px;
  opacity: 0;
}

.settings-saving:hover {
  color: var(--color-options-main-default) !important;
  cursor: default;
}