@import "../../variables.scss";

.text-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.text-input-row {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.text-input-row-textarea {
  border: var(--border-second);
  border-radius: var(--border-radius-second);
  background-color: var(--color-text-input);
  z-index: 1;
}

@media (max-width:810px) {
  .text-input-row {
    width: 90%;
  }
}

.text-input-reply {
  width: 98%;
  margin: auto;
  border-radius: var(--border-radius-second) var(--border-radius-second) 0 0;
  background-color: var(--color-reply);
  transform: translateY(2px);
  cursor: pointer;
}

.text-input-reply-text {
  padding: 0 5px;
  padding-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  opacity: 0.8;
}

.text-input-reply-text:hover {
  opacity: 1;
}

.theme-dark .text-input-reply-text {
  opacity: 0.5;
}

.theme-dark .text-input-reply-text:hover {
  opacity: 1;
}

.reply-to-text {
  text-overflow: var(--text-overflow);
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.reply-to-close {
  opacity: 0.6;
  font-weight: bold;
  margin-left: 5px;
  padding: 3px;
  cursor: pointer;
}

.reply-to-close:hover {
  opacity: 1;
}

.text-input-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 5px;
  margin-bottom: 1px;
  max-width: 56px;
}

.text-input button {
  background-color: transparent;
  color: var(--color-options-main-default);
  border: var(--border-none);
  font-size: 1.25rem;
  cursor: pointer;
  bottom: 1px;
}

.text-input button:hover {
  color: var(--color-accent-main);
}

.text-input-textarea {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  resize: none;

  width: 100%;
  padding: 5px;
  padding-bottom: 0;
  padding-right: 0;
  font-size: var(--font-size-main);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-height: 140px;
  color: var(--color-text-main);
}

.chatbot-send-icon {
  position: relative;
  left: -1px;
}

.text-input .fas {
  padding-top: 2px;
}

.chatbot-settings-button {
  color: var(--color-text-main-default);
  right: 1px;
  z-index: 2;
}

.chatbot-send-button {
  transition: right 0.25s ease-in-out, opacity 0.25s ease-in-out;
  right: 0;
  color: var(--color-text-main-default);
  opacity: 1;
  z-index: 2;
  position: relative;
}

.chatbot-send-button.fade:hover {
  cursor: default;
}

.chatbot-send-button.fade {
  right: -15px;
  opacity: 0;
}

.settings-saving:hover {
  color: var(--color-options-main-default) !important;
  cursor: default;
}