@import '../../variables.scss';

.navbar {
  background-color: $color-main;
  padding: 10px;
  box-shadow: 0px 1px 10px darkgray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: left 0.5s ease-in-out;
  width: 100%;
}

.navbar[data-sidebar-is-open="true"] {
  left: $sidebar-width;
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: right;
  margin-right: 40px;
}

.navbar-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: $color-text-main;
}

.navbar-brand {
  font-weight: bold;
  font-size: 20px;
  color: $color-text-main;
}

.theme-dark .navbar {
  background-color: $color-main-dark;
  box-shadow: 0px 1px 10px darkgray;
}

.theme-dark .navbar-toggle {
  color: $color-text-main-dark;
}

.theme-dark .navbar-brand {
  color: $color-text-main-dark;
}
