@import '../../variables.scss';

.navbar {
  background-color: var(--color-main);
  padding: 10px;
  box-shadow: var(--box-shadow-main);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: left 0.5s ease-in-out;
  width: 100%;
}

.navbar[data-sidebar-is-open="true"] {
  left: $sidebar-width;
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: right;
  margin-right: 40px;
}

.navbar-toggle {
  background-color: var(--color-none);
  border: var(--border-none);
  cursor: pointer;
  font-size: 20px;
  color: var(--color-text-main);
}

.navbar-brand {
  font-weight: bold;
  font-size: 20px;
  color: var(--color-text-main);
}
