@import '../../variables.scss';

.sidebar {
  background-color: var(--color-sidebar);
  width: $sidebar-width;
  height: 100%;
  position: fixed;
  top: 0;
  left: -$sidebar-width;
  z-index: 99;
  display: flex;
  flex-direction: column;
  transition: left 0.25s ease-in-out;
  border-right: var(--border-none);
}

.sidebar[data-sidebar-is-open="true"] {
  left: 0;
}

.sidebar-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: box-shadow 0.25s ease-in-out;
}

.sidebar[data-sidebar-is-open="true"][data-is-mobile="true"] .sidebar-body {
  box-shadow: var(--box-shadow-sidebar-open-mobile);
  left: 0;
}

.sidebar[data-sidebar-is-open="true"][data-is-mobile="false"] .sidebar-body {
  box-shadow: var(--box-shadow-sidebar-open);
  left: 0;
}

.sidebar-list {
  flex: 1;
  overflow-y: inherit;
}

.sidebar-header-row {
  text-align: left;
  color: var(--color-text-sidebar);
}

.sidebar-title {
  color: var(--color-text-sidebar);
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.sidebar-settings {
  border-radius: 5px;
  margin: 8px;
  z-index: 1;
  position: fixed;
  bottom: 48px;
  background-color: var(--color-settings-sidebar);
  display: flex;
  flex-direction: column;
  width: 244px;
  color: var(--color-text-sidebar);
}

.sidebar-settings-row-item {
  text-align: left;
  width: 200px;
  color: var(--color-text-sidebar);
  padding: 10px;
  padding-left: 20px;
}

.sidebar-settings-row:hover {
  cursor: pointer;
  background-color: var(--color-hover-sidebar);
  border-radius: 5px;
}

.sidebar-footer,
.sidebar-header {
  border-radius: 5px;
  margin: 8px;
  background-color: var(--color-sidebar-item);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sidebar-footer-row:hover,
.sidebar-header-row:hover {
  cursor: pointer;
  background-color: var(--color-hover-sidebar);
  border-radius: 5px;
}

.sidebar-settings-row,
.sidebar-header-row,
.sidebar-footer-row {
  display: flex;
  flex-direction: row;
}

.sidebar-footer-row-item,
.sidebar-header-row-item {
  padding: 10px;
  padding-left: 20px;
  text-align: left;
  width: 200px;
  color: var(--color-text-sidebar);
  text-overflow: var(--text-overflow);
  white-space: nowrap;
  overflow: hidden;
}

.sidebar-settings-row-icon {
  color: var(--color-options-sidebar);
  font-size: 1.15rem;
  padding: 0 12px;
  padding-top: 10px;
}

.sidebar-footer-row-icon {
  color: var(--color-options-sidebar);
  font-size: 1.25rem;
  padding: 0 15px;
  padding-top: 8px;
}

+
.sidebar-filestream-options {
  text-align: center;
  color: var(--color-options-sidebar);
}

.sidebar-filestream-options:hover,
.sidebar-filestream-options button:hover,
.sidebar-filestream-options .fas:hover {
  cursor: pointer;
}

.sidebar-filestream-open,
.sidebar-filestream-options button {
  background-color: var(--color-none);
  padding: 5px;
  padding-top: 10px;
  border: var(--border-none);
  font-family: var(--font-family-main);
  font-size: 1.2rem;
  color: var(--color-options-sidebar);
  outline: none;
  text-shadow: none;
  margin-left: 8px;
}
