@import '../../variables.scss';

.sidebar {
  background-color: #ffffff;
  width: $sidebar-width;
  height: 100%;
  position: fixed;
  top: 0;
  left: -$sidebar-width;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  transition: left 0.5s ease-in-out;
  border-right: 1px solid #ccc;
}

.sidebar[data-is-open="true"] {
  left: 0;
}

.sidebar-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: box-shadow 0.5s ease-in-out;
}

.sidebar[data-is-open="true"] .sidebar-body {
  box-shadow: 0px 0 300px #ccc;
  left: 0;
}

.sidebar-list {
  flex: 1;
}

.sidebar-footer {
  border-top: 1px solid #d2d2d2;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.sidebar-footer:hover {
  cursor: pointer;
  background-color: #f3f3f3;
}

.sidebar-clear-button {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: $text-color-main;
  text-decoration: none;
  width: 225px;
}

.sidebar-help-button {
  font-size: 1.65rem;
  font-weight: bold;
  color: $options-button-color;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 14px;
  padding-top: 2px;
}

.sidebar-add-button {
  background-color: #fff;
  box-shadow: 0px 1px 10px darkgray;
  padding: 10px;
  border-bottom: 1px solid #d2d2d2;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  color: $text-color-main;
  height: 27px;
  z-index: 1;
}

.sidebar-add-button:hover {
  background-color: #f3f3f3;
}

.sidebar-title {
  color: $text-color-main;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.sidebar-header {
  background-color: #f3f3f3;
  padding: 10px;
  border-bottom: 1px solid #d2d2d2;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
