@import '../../variables.scss';

.sidebar {
  background-color: var(--color-main);
  width: $sidebar-width;
  height: 100%;
  position: fixed;
  top: 0;
  left: -$sidebar-width;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  transition: left 0.5s ease-in-out;
  border-right: var(--border-none);
}

.sidebar[data-is-open="true"] {
  left: 0;
}

.sidebar-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: box-shadow 0.5s ease-in-out;
}

.sidebar[data-is-open="true"] .sidebar-body {
  box-shadow: var(--box-shadow-sidebar-open);
  left: 0;
}

.sidebar-list {
  flex: 1;
  overflow-y: inherit;
}

.sidebar-footer {
  border-top: var(--border-none);
  background-color: var(--color-main);
  display: flex;
  justify-content: space-between;
  box-shadow: var(--box-shadow-main);
  clip-path: inset(-10px 0px 0px 0px);
}

.sidebar-footer:hover {
  cursor: pointer;
  background-color: var(--color-second);
}

.sidebar-clear-button {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: var(--color-text-main);
  text-decoration: none;
  width: 225px;
}

.sidebar-help-button {
  font-size: 1.65rem;
  font-weight: bold;
  color: var(--color-button-options);
  text-decoration: none;
  padding-left: 10px;
  padding-right: 14px;
  padding-top: 2px;
}

.sidebar-add-button {
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
  color: var(--color-text-main);
  height: 27px;
  z-index: 2;
  width: 225px;
}

.sidebar-title {
  color: var(--color-text-main);
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.sidebar-header {
  background-color: var(--color-second);
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.sidebar-filestream-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: var(--box-shadow-main);
  z-index: 1;
  padding: 0 15px;
  height: 47px;
}

.sidebar-filestream-container:hover {
  cursor: pointer;
  background-color: var(--color-second);
}

.sidebar-filestream-options {
  text-align: center;
  color: var(--color-button-options);
}

.sidebar-filestream-options:hover,
.sidebar-filestream-options button:hover,
.sidebar-filestream-options .fas:hover {
  cursor: pointer;
}

.sidebar-filestream-open,
.sidebar-filestream-options button {
  background-color: var(--color-none);
  padding: 5px;
  padding-top: 10px;
  border: var(--border-none);
  font-family: var(--font-family-main);
  font-size: 1.2rem;
  color: var(--color-button-options);
  color: var(--color-accent-main);
  outline: none;
  text-shadow: none;
  margin-left: 8px;
}
