@import "variables.scss";

body {
    margin: 0;
    font-family: $font-family-main;
    background-color: $background-color;
}

.no-conversation-container {
    margin-top: 25%;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    position: fixed;
    left: 0;
    transition: left 0.5s ease-in-out;
    color: $text-color-main;
}

.no-conversation-container[data-is-open="true"] {
    left: $sidebar-width;
}

.no-conversation-open {
    margin-top: 25px;
    color: $color-accent-main;
    transition: transform 0.25s ease-in-out;
}

.no-conversation-open:hover {
    transform: translateY(-3px);
}

.hide {
    display: none;
}