$sidebar-width: 300px;
$background-color: #fefefe;
$options-button-color: #999;
$text-color-main: #333;
$color-main: #333;
$color-third: #ccc;
$font-family-main: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;