$sidebar-width: 300px;
$font-family-main: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

$color-background: #fefefe;
$color-button-options: #999;
$color-text-main: #333;
$color-main: #fff;
$color-second: #f3f3f3;
$color-third: #ccc;
$color-fourth: #bbb;
$color-fifth: #666;
$color-accent-main: #0084ff;
$color-accent-second: #333;

$color-background-dark: #333;
$color-button-options-dark: #999;
$color-text-main-dark: #fefefe;
$color-main-dark: #222;
$color-second-dark: #666;
$color-third-dark: #bbb;
$color-fourth-dark: #ccc;
$color-fifth-dark: #f3f3f3;
$color-accent-main-dark: #0084ff;
$color-accent-second-dark:#ccc;