@import '../../variables.scss';

.navbar {
  background-color: var(--color-navbar);
  box-shadow: var(--box-shadow-main);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  transition: left 0.25s ease-in-out;
  width: 100%;
  min-width: 375px;
  height: $navbar-height;
}

.navbar[data-sidebar-is-open="true"] {
  left: $sidebar-width;
}

.navbar-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: width 0.25s ease-in-out;
}

.navbar[data-sidebar-is-open="true"][data-is-mobile="false"] .navbar-container {
  width: calc(100vw - $sidebar-width);
}

.navbar-left {
  float: left;
  width: 30px;
}

.navbar-right {
  float: right;
  width: 50px;
}

.navbar-center {
  font-size: var(--font-size-main);
  font-weight: bold;
  color: var(--color-text-main);
  text-overflow: var(--text-overflow);
  white-space: nowrap;
  overflow: hidden;
}

.navbar-toggle {
  background-color: var(--color-none);
  border: var(--border-none);
  cursor: pointer;
  font-size: 20px;
  color: var(--color-text-main);
  padding: 1px 4px;
}

.navbar-brand {
  font-weight: bold;
  font-size: var(--font-size-main);
  color: var(--color-text-main);
}
