.chat-message {
  display: flex;
  flex-direction: column;
  position: relative;
}

.chat-message-bubble {
  white-space: break-spaces;
  border-radius: 20px;
  padding: 2px;
  margin-left: 24px;
}

.chat-message-user .chat-message-bubble {
  background-color: #0084ff;
  color: white;
}

.chat-message-bot .chat-message-bubble {
  background-color: #f3f3f3;
  color: #424242;
}

.chat-message-icons-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 5px;
}

.chat-message-timestamp {
  font-size: 12px;
  font-weight: 400;
  color: #999;
  margin-right: 15px;
}

.chat-message-options-icon {
  cursor: pointer;
  color: #999;
}

.chat-message-options-container {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: #fff;
  box-shadow: 0 0 5px darkgray;
  z-index: 1;
  padding: 3px 8px;
  width: 50px;
  border-radius: 20px;
  display: inline-flex;
  width: 55px;
}

.chat-message-options-container button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #999;
}

.chat-message-options-container button i {
  margin-right: 4px;
  font-size: 16px;
}

.chat-message-container {
  display: flex;
  justify-content: center;
}

.chat-message-controls-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
}

.chat-message-user .chat-message-dot-active {
  background-color: #20245c;
}

.chat-message-user .chat-message-control .fa {
  color: #3a3f79;
}

.chat-message-control {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 2px;
  color: #555;
}

.chat-message-control:disabled {
  cursor: default;
  color: #bbb;
}

.chat-message-dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
}

.chat-message-dot {
  background-color: #bbb;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  margin: 0 2.5px;
}

.chat-message-dot-active {
  background-color: #555;
}

.chat-message-controls-container .fa-chevron-left,
.chat-message-controls-container .fa-chevron-right {
  font-size: 0.8rem;
}

.chat-message-icons-container .fa{
  color: rgba(0, 0, 0, 0);
}

.chat-message-container:hover .chat-message-icons-container .fa {
  color: #999;
}