@import '../../variables.scss';

.chat-message {
  display: flex;
  flex-direction: column;
  position: relative;
}

.chat-message-bubble {
  white-space: break-spaces;
  border-radius: var(--border-radius-main);
  padding: 2px;
  margin-left: 24px;
}

.chat-message-user .chat-message-bubble {
  background-color: var(--color-accent-main);
  color: var(--color-main);
}

.chat-message-bot .chat-message-bubble {
  background-color: var(--color-second);
  color: var(--color-text-main);
}

.chat-message-icons-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 5px;
}

.chat-message-timestamp {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-third);
  margin-top: 5px;
  align-self: center;
}


.chat-message-options-icon {
  cursor: pointer;
  color: var(--color-options-main);
}

.chat-message-options-container {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: var(--color-main);
  box-shadow: var(--box-shadow-second);
  z-index: 1;
  padding: 3px 8px;
  border-radius: var(--border-radius-main);
  display: inline-flex;
  width: 75px;
}

.chat-message-options-container button {
  background: none;
  border: var(--border-none);
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--color-third);
}

.chat-message-options-container button i {
  margin-right: 4px;
  font-size: 16px;
}

.chat-message-container {
  display: flex;
  justify-content: center;
}

.chat-message-controls-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
}

.chat-message-control {
  background-color: var(--color-none);
  border: var(--border-none);
  cursor: pointer;
  outline: none;
  padding: 2px;
}

.chat-message-dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
}

.chat-message-controls-container .fa-chevron-left,
.chat-message-controls-container .fa-chevron-right {
  font-size: 0.8rem;
}

.chat-message-icons-container .fa {
  color: var(--color-options-main);
}

.theme-dark .chat-message-user .chat-message-bubble {
  color: var(--color-main-default)
}