@import '../../variables.scss';

.chat-message {
  display: flex;
  flex-direction: column;
  position: relative;
}

.chat-message-bubble {
  white-space: break-spaces;
  border-radius: 20px;
  padding: 2px;
  margin-left: 24px;
}

.chat-message-user .chat-message-bubble {
  background-color: $color-accent-main;
  color: $color-main;
}

.chat-message-bot .chat-message-bubble {
  background-color: $color-second;
  color: $color-text-main;
}

.chat-message-icons-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 5px;
}

.chat-message-timestamp {
  font-size: 12px;
  font-weight: 400;
  color: $color-button-options;
}

.chat-message-options-icon {
  cursor: pointer;
  color: $color-button-options;
}

.chat-message-options-container {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-color: $color-main;
  box-shadow: 0 0 5px darkgray;
  z-index: 1;
  padding: 3px 8px;
  border-radius: 20px;
  display: inline-flex;
  width: 75px;
}

.chat-message-options-container button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: $color-button-options;
}

.chat-message-options-container button i {
  margin-right: 4px;
  font-size: 16px;
}

.chat-message-container {
  display: flex;
  justify-content: center;
}

.chat-message-controls-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
}

.chat-message-control {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 2px;
  color: $color-fifth;
}

.chat-message-control:disabled {
  cursor: default;
  color: $color-fourth;
}

.chat-message-dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
}

.chat-message-dot {
  background-color: $color-fourth;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  margin: 0 2.5px;
}

.chat-message-dot-active {
  background-color: $color-fifth;
}

.chat-message-controls-container .fa-chevron-left,
.chat-message-controls-container .fa-chevron-right {
  font-size: 0.8rem;
}

.chat-message-icons-container .fa{
  color: $color-third;
}

.theme-dark .chat-message-user .chat-message-bubble {
  background-color: $color-accent-main-dark;
}

.theme-dark .chat-message-bot .chat-message-bubble {
  background-color: $color-second-dark;
  color: $color-text-main-dark;
}

.theme-dark .chat-message-timestamp {
  color: $color-button-options-dark;
}

// .theme-dark .chat-message-options-icon {
//   color: $color-button-options-dark;
// }

// .theme-dark .chat-message-options-container {
//   box-shadow: 0 0 5px darkgray;
//   background-color: $color-main-dark;
// }

// .theme-dark .chat-message-options-container button {
//   color: $color-button-options-dark;
// }

.theme-dark .chat-message-control {
  color: $color-fifth-dark;
}

.theme-dark .chat-message-control:disabled {
  color: $color-fourth-dark;
}

.theme-dark .chat-message-dot-active {
  background-color: $color-fifth;
}

.theme-dark .chat-message-icons-container .fa{
  color: $color-third;
}
